.seller-page-content {
  display: flex;
  flex-wrap: wrap;
}
.seller-body {
  display: flex;
  max-width: 100%;
  width: 100%;
  padding: 5px;
  background: var(--color-bg-box);
  border: 1px solid var(--color-box-border);
  box-shadow: var(--box-shadow-externa);
  border-radius: 8px;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.seller-left-up {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.seller-left-midle {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.seller-left-bottom {
  display: flex;
  width: 100%;
}

.seller-avatar {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-interna);
  background-color: var(--color-bg-box-secondary);
  margin-right: 5px;
}

.seller-avatar img {
  max-width: 100px;
  border-radius: 6px;
}

.seller-goods {
  display: flex;
  max-width: calc(100% - 15px);
  height: calc(50% - 13px);
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow-interna);
  background-color: var(--color-bg-box-secondary);
  padding: 5px;
}

.seller-goods-text {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.seller-sells {
  display: flex;
  max-width: calc(100% - 15px);
  height: calc(50% - 13px);
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow-interna);
  background-color: var(--color-bg-box-secondary);
  padding: 5px;
}

.seller-sells-text {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 5px;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}
.seller-sells-number, .seller-goods-number {
  font-size: 21px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.seller-name {
  max-width: 100%;
  background: var(--color-bg-box);
  border: 1px solid var(--color-box-border);
  box-shadow: var(--box-shadow-externa);
  width: -webkit-fill-available;
  font-weight: 700;
  font-size: 29px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.seller-rewiews {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow-interna);
  background-color: var(--color-bg-box-secondary);
  padding: 5px;
}

.seller-rewiews-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 5px;
  flex-wrap: wrap;
  height: 50%;
}
.seller-rewiews-text::after {
  content: "";
    display: block;
    height: 1px;
    background-color: #5E5F65;
    margin-bottom: 5px;
    width: 90%;
    margin-left: 10px;
}

.seller-rewiews-number-good, .seller-rewiews-number-bad {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 500;
}

.seller-rating {
  font-size: 35px;
  width: 248px;
  display: flex;
  font-weight: 600;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow-interna);
  background-color: var(--color-bg-box-secondary);
  padding: 5px;
  flex-wrap: wrap;
  margin-right: 5px;
}

.seller-rating-text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.seller-rating-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.seller-rewiews-text:before {
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/icons-pages/feedback-seller.svg);
  display: flex;
  margin-right: 5px;
  background-size: cover;
}

.seller-rating-number:before {
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/icons-pages/star-seller.svg);
  display: flex;
  margin-right: 5px;
  background-size: cover;
}

.seller-goods-text:before {
  content: "";
  width: 25px;
  height: 25px;
  background: url(../img/icons-pages/product-icon.svg);
  display: flex;
  margin-right: 5px;
  background-size: cover;
}

.seller-rating-text:before {
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/icons-pages/rating-icon.svg);
  display: flex;
  margin-right: 5px;
  background-size: cover;
}

.seller-rewiews-number-good:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/icons-pages/good-rewiew.svg);
  background-position: center;
  background-size: cover;
  display: block;
  margin-right: 5px;
}

.seller-rewiews-number-bad:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/icons-pages/bad-rewiew.svg);
  background-position: center;
  background-size: cover;
  display: block;
  margin-right: 5px;
}

.seller-sells-text:before {
  content: "";
  width: 25px;
  height: 25px;
  background: url(../css/goods/sells.svg);
  display: flex;
  margin-right: 5px;
  background-size: cover;
}


@media (max-width: 870px) {
  .seller-body {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.seller-left-up {
  width: 60%;
  margin-bottom: 5px;
}
.seller-rating {
  max-width: 100%;
  width: 100%;
}
.seller-left-midle {
  width: 40%;
  margin-bottom: 5px;
}
.seller-sells, .seller-goods {
  max-width: calc(100% - 10px);
}
}
@media (max-width: 550px) {
  .seller-left-up {
    width: 100%;
}
.seller-rating {
 margin-right: 0px;
}
.seller-left-midle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.seller-sells, .seller-goods {
  height: calc(100% - 10px);
  width: calc(50% - 13px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
}


/* Блок с вкладками */

.tabs-seller-page {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  float: left;
  list-style: none;
}


.tabs-seller-page:after {
  content: '';
  display: table;
  clear: both;
}

.tabs-seller-page input[type=radio] {
  display: none;
}

.tabs-seller-page label p {
  padding: 5px;
  margin-right: 0;
}

.tabs-seller-page .tab-first-seller, .tab-second-seller {
  display: block;
  font-weight: 700;
  font-size: 20px;
  float: left;
  width: calc(50% - 19px);
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  padding: 5px;
  background: var(--color-bg-box);
  border: 1px solid var(--color-box-border);
  box-shadow: var(--box-shadow-externa);
  border-radius: 8px;
}
.tab-second-seller:hover {
  box-shadow: 0px 4px 20px 10px rgb(0 0 0 / 7%);
    transition: all 0.3s;
}
.tab-first-seller:hover {
  box-shadow: 0px 4px 20px 10px rgb(0 0 0 / 7%);
    transition: all 0.3s;
}
.tabs-seller-page label span {
  display: none;
}
label.tab-first-seller {
  margin-right: 10px;
}


.tab-content-seller-page {
  display: none;
  min-width: 320px;
  height: auto;
  float: left;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: none;
  background-position: right center;
  background-repeat: no-repeat;
  text-decoration: none;
}

.tabs-seller-page [id^="tab"]:checked+label {
  background-repeat: no-repeat;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-interna);
  background-color: var(--color-bg-box-secondary);
  padding: 6px;
}

#tab-first-seller-page:checked~#tab-content-1-main,
#tab-second-seller-page:checked~#tab-content-2-main {
  display: block;
}

@media (min-width: 768px) {

}


/* конец вкладок*/

/* стили контейнера фильтров */
.product-subheader {
  display: flex;
  align-items: center;
}
span.product-filt-icon:before {
  content: "";
  width: 29px;
  height: 29px;
  background-image: url(../img/icons-pages/sorting.svg);
  background-position: center;
  background-size: cover;
  display: block;
}
span.product-filt-icon:before {
  content: "";
  width: 29px;
  height: 29px;
  background-image: url(../img/icons-pages/sorting.svg);
  background-position: center;
  background-size: cover;
  display: block;
}
.form-sort-popular {
  display: flex;
}

span.product-filt-title,
  .product-subcategory-title,
  .product-sub-subcategory-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
  
  .product-filt-body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .product-filt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    flex-wrap: wrap;
    align-content: center;
  }
  span.filtr-name {
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
  

  .filtr {
    max-width: 100%;
    width: -webkit-fill-available;
    color: #000000;
    padding: 10px;
    height: fit-content;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-interna);
    background-color: var(--color-bg-box-secondary);
  }
  
  
  
  
  .filtr-inside-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .filtr-punkt {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  label.filtr-label {
    cursor: pointer;
  }
  .product-subcategory-header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 0px;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .product-subheader {
    display: flex;
    align-items: center;
  }
  span.product-filt-icon {
    border-radius: 6px;
    height: 39px;
    justify-content: center;
    width: 39px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: rgb(239, 248, 253);
    text-align: center;
    box-sizing: border-box;
    background-color: var(--color-bg-box-subsecondary);
    border: var(--color-box-border-subsecondary);
    border-top-color: var(--color-box-border-top-subsecondary);
    box-shadow: var(--box-shadow-externa-subsecondary);
    background-image: var(--bg-image-gradient);
  }
  .product-filt {
    display: flex;
    max-height: 100%;
    background: var(--color-bg-box);
    border: 1px solid var(--color-box-border);
    box-shadow: var(--box-shadow-externa);
    color: #000000;
    padding: 0 5px 0 5px;
    border-radius: 8px;
    text-align: left;
    flex-direction: column;
  }
select[name="form-sort"] {
  max-width: 100%;
  width: 100%;
  height: 39px;
  border: 2px solid rgb(152 154 175 / 0%);
  border-radius: 8px;
  box-shadow: var(--box-shadow-interna);
  background-color: var(--color-bg-box-secondary-1);
  padding: 5px;
  font-weight: 700;
  font-size: 19px;
  color: #000000;
  cursor: pointer;
}

select[name="form-sort"]:focus {
  border: 2px solid rgb(152 154 175 / 0%);
}
@media (max-width: 420px) {
  select[name="form-sort"] {
    font-size: 13px;
  }

  span.product-filt-title {
    font-size: 17px;
  }
}

/* стили контейнера фильтров конец */
/* отзывы товара */
.product-rewiew-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.product-rewiew-good-title {
  padding: 3px;
}

.product-rewiew-good-title a {
  font-size: 13px;
}


.product-rewiews-body {
  display: flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 8px;
  height: auto;
  background-position: right center;
  background-repeat: no-repeat;
 
  background: rgba(94, 94, 101, 0.05);
  border-color: transparent;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 3px;
}


.product-rewiew-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin: 6px;
}



.good-product-rewiew .product-rewiew-icon {
  background: rgba(90, 239, 114, 0.76);
  box-shadow: 0 0 0px 5px rgb(90 239 114 / 15%);
}

.bad-product-rewiew .product-rewiew-icon {
  background: rgba(239, 90, 90, 0.76);
  box-shadow: 0 0 0px 5px rgb(241 127 127 / 16%);
}

.good-product-rewiew .product-rewiew-icon:before {
  content: "";
  width: 29px;
  height: 29px;
  background-image: url(../img/icons-pages/good-rewiew.svg);
  background-position: center;
  background-size: cover;
  display: block;
}

.bad-product-rewiew .product-rewiew-icon:before {
  content: "";
  width: 29px;
  height: 29px;
  background-image: url(../img/icons-pages/bad-rewiew.svg);
  background-position: center;
  background-size: cover;
  display: block;
}

.product-rewiew-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.product-rewiew-text {
  width: 100%;
  padding: 3px;
}

span.product-rewiew-date {
  color: black;
  font-size: 12px;
  padding: 5px;
}

.product-rewiew-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.product-seller-answer {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.product-rewiews-notification {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 15px 0px;
  padding: 10px 5px 10px 5px;
  background: #fff57f;
  border-radius: 6px;
}
.good-container-add-information-title {
  font-size: 24px;
  padding: 20px 0 10px 0px;
  display: flex;
  justify-content: center;
}
/* пагинация отзывы */
.pagination-product-rewiews-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
section.pagination-product-rewiews {
  margin: 20px 0px 20px 0px;
}
span.pagination-product-rewiews-container-arrow {
  display: flex;
  height: 25px;
  padding: 2px;
  color: rgb(239, 248, 253);
  background-color: rgb(192 191 191);
  border: 1px solid rgb(158 153 153);
  border-top-color: rgb(158 153 153);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  -khtml-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  align-items: center;
  justify-content: center;
}
.pagination-product\:number {
  display: flex;
  font-weight: 500;
    font-size: 14px;
  padding: 2px;
  height: 25px;
  width: 25px;
  color: rgb(239, 248, 253);
  background-color: rgb(192 191 191);
  border: 1px solid rgb(158 153 153);
  border-top-color: rgb(158 153 153);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  -khtml-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  align-items: center;
  justify-content: center;
}
.pagination-product\:number.pagination-product\:active, .pagination-product\:number:hover, span.pagination-product-rewiews-container-arrow:hover, .pagination-product\:dot:hover {
  text-decoration: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.24), inset 0 0 0 1px rgba(0,0,0,0.015), inset 0 2px 8px rgba(0,0,0,0.075), 0 0px rgb(0 9 37 / 37%);
  background-color: rgb(144 149 154);
  border-color: transparent;
}

.pagination-product\:dot {
  display: flex;
  padding: 2px;
  font-weight: 500;
    font-size: 14px;
  height: 25px;
  width: 25px;
  color: rgb(239, 248, 253);
  background-color: rgb(192 191 191);
  border: 1px solid rgb(158 153 153);
  border-top-color: rgb(158 153 153);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  -khtml-box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0) 75%);
  align-items: center;
  justify-content: center;
}
.pagination-product-rewiews-container-arrow-prew, .pagination-product\:number, .pagination-product\:dot {
  margin-right: 5px;
}
.pagination-product-rewiews-container-arrow.arrow-prew::before {
  content: "";
    width: 24px;
    height: 23px;
    color: #fff;
    background-image: url(../img/icons-pages/left-pagination.svg);
    background-position: center;
    background-size: cover;
    display: block;
}
.pagination-product-rewiews-container-arrow.arrow-next::before {
  content: "";
    width: 24px;
    height: 23px;
    color: #fff;
    background-image: url(../img/icons-pages/right-pagination.svg);
    background-position: center;
    background-size: cover;
    display: block;
}

@media (max-width: 580px) {
.pagination-product-rewiews-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
}
/* конец пагинации с отзывами */
/* конец отзывов товара */