/* Slider для картинок товара */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.variable-nav .slick-slide img {
    height: 78px;
    
}
.variable-nav .slick-slide {
    margin-right: 10px;
}

ul.slick-dots {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
button.slick-next.slick-arrow {
    font-size: 0;
    line-height: 0;
    color: transparent;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    border: 1px solid #c3c3c3;
    border-radius: 39%;
    background: #f7f7f7d6;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .11);
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
    outline: 0 !important;
    z-index: 0;
    opacity: 1;
    right: 5px;
}
button.slick-next.slick-arrow:hover, button.slick-prev.slick-arrow:hover {
    background: #f7f7f7;
    cursor: pointer;
}
button.slick-next.slick-arrow::before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(../img/icons-pages/arrow-right-product-slider.svg);
    background-position: center;
    background-size: cover;
    display: block;
    margin-left: 3px;
}
button.slick-prev.slick-arrow {
    font-size: 0;
    line-height: 0;
    color: transparent;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    border: 1px solid #c3c3c3;
    border-radius: 39%;
    background: #f7f7f7d6;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .11);
    box-shadow: 0 0 6px rgba(0, 0, 0, .11);
    outline: 0 !important;
    z-index: 1;
    opacity: 1;
    left: 5px;
}
button.slick-prev.slick-arrow::before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(../img/icons-pages/arrow-left-product-slider.svg);
    background-position: center;
    background-size: cover;
    display: block;
    margin-left: 3px;
}

/* Конец стилей слайдера для картинок товара */

/* Стили для слайдера "Похожие товары" */
.recom-slider-body {
    max-width: 100%;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: var(--color-bg-box);
    border: 1px solid var(--color-box-border);
    box-shadow: var(--box-shadow-externa);
}

.recom-slider-container {
    width: 100%;
    padding: 10px 1px 0px 1px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    height: inherit;
    line-height: 45px;
    text-transform: none;
    background-position: right center;
    background-repeat: no-repeat;
    text-decoration: none;
    box-shadow: var(--box-shadow-interna);
    background-color: var(--color-bg-box-secondary);
    border-color: transparent;
}
.recom-slider-icon {
    border-radius: 6px;
    height: 39px;
    justify-content: center;
    width: 39px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: rgb(239, 248, 253);
    background-color: rgb(91, 167, 225);
    border: 1px solid rgb(74, 135, 182);
    border-top-color: rgb(91, 167, 225);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    text-align: center;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 8px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15), 0 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0) 75%);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0) 75%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0) 75%);
}
span.recom-slider-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.recom-slider-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 0px;
}
.recom-slider-icon:before {
    content: "";
    width: 24px;
    height: 23px;
    color: #fff;
    background-image: url(../img/icons-pages/desc.svg);
    background-position: center;
    background-size: cover;
    display: block;
}